################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHubBasics2.slnx/FileContentIndex/bb483fe6-d44a-485f-8beb-2ef08eed84d3.vsidx
/.vs/GitHubBasics2.slnx/FileContentIndex/c83a8fc8-e97e-4794-a19c-4ea2726a086d.vsidx
/.gitignore
